<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="DANAS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DANAS"
        tools:targetApi="31">
        <activity
            android:name=".AddFolderSchool"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".WorkFragment"
            android:exported="false" />
        <activity
            android:name=".SchoolFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CreatingActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndRegulationsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEmployeeIDActivity"
            android:exported="false" />
        <activity
            android:name=".CreateStudentIDActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>